@media only screen and (min-width: 993px)
.container {
    width: 70%;
}

@media only screen and (min-width: 601px)
.container {
    width: 85%;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    padding: 15px;
}
.white {
  background-color: white;
}

.col {
  float: left;
  box-sizing: border-box;
  padding: 0 0.75rem;
  min-height: 1px;
}

.row {
  margin-bottom: 5px;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

body {
  font-family: 'Roboto', 'Arial', sans-serif;
  background-color: #fafafa
}
.footer {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  width: 110%;
  height: 200px;
  background: black;
  font-family: monospace;
  color: #fafafa;
  padding: 0.75rem;
  position: fixed;
  bottom: 0px;
  overflow-y: auto;
  overflow-x: hidden;
}

#console-output .bash{
  color: lightgreen;
}

.d3-tip {
  background: #666;
  color: white;
  padding: 4px;
  border-radius: 5px;
}


.line {
  fill: none !important;
}

.s12 {
  width: 100%;
}

.s6 {
  width: 50%;
}

.circle, .square {
    width: 100px;
    height: 100px;
    border: 1px solid #333;
    float: left;
    margin: 5px;
}

.circle {
  border-radius: 50%;
  background-color: steelblue
}

.square {
    background-color: #eee;
}